@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFPRODISPLAYREGULAR.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .light-bg {
    background-image: url("/images/background/light.webp");
  }

  .dark-bg {
    background-image: url("/images/background/dark.webp");
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .scrollbar-none {
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

html,
body,
#root {
  font-family: "SF Pro Display";
}
