@import "tailwindcss";

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  @font-face {
    font-family: "SF Pro Display";
    src: url("./assets/fonts/SFPRODISPLAYREGULAR.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}

@utility light-bg {
  position: relative;

  &::before {
    content: "";
    background-image: url("/images/background/light.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
}

@utility dark-bg {
  position: relative;

  &::before {
    content: "";
    background-image: url("/images/background/dark.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
}

@layer utilities {
  html {
    font-family: "SF Pro Display";
  }
}

@-moz-document url-prefix() {
  #modal-background {
    backdrop-filter: none;
  }

  #modal {
    backdrop-filter: none;
    background-color: white;
  }

  .card {
    backdrop-filter: none;
  }
}
